/*
 *= require_self
 */

 @import 'normalize';
 @import 'global.css.scss';
 @import 'docs.css.scss';
 @import 'welcome.css.scss';



#banner_content h1 {
	@include bold_font;
	color: $green;
	font-size: 5.5rem;
	margin: 0;
}
